.bg-login {
    background-image: url("../../public/images/6230278.jpg");
}

.markdown-content {
    p,
    i,
    strong,
    b {
        display: block;
        padding: 20px 0;
    }
}

.bg-test {
    background-color: #f6f8fa;
}

.comment-react:hover > div:last-child {
    display: flex;
}

.block-comment-react {
    & > :nth-child(2) {
        transform: translateX(-10px);
    }

    & > :nth-child(3) {
        transform: translateX(-20px);
    }

    & > :nth-child(4) {
        transform: translateX(-30px);
    }
}
